.search-input {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 999px;
  padding: 10px 20px;
  height: 30px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
  align-items: center;
}
.search-input > input {
  flex: 1;
  border: none;
  padding: 10px 20px;
  font-size: medium;
}
.search-input > input:focus {
  outline-width: 0;
}
.searchIcon {
  color: gray;
}
.search_buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.search_buttons button {
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 4px;
  color: #5f6368;
  background-color: #f2f2f2;
  padding: 7px 15px;
  text-transform: inherit;
  font-size: 14px;
  font-family: arial, sans-serif;
}
.search_buttons button:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #c6c6c6;
  color: #222;
}
.hide_search_buttons {
  display: none !important;
}
